<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/head.ejs %>
</head>
<body class="page-membership">
<div class="Overlay">
  <div class="Overlay-BG"></div>
  <div class="Overlay-Avatar"
       style="background-image: url(https://pbs.twimg.com/profile_images/770916199895068672/1iT-MF9F.jpg)"></div>
  <div class="Overlay-Inner">
    <div class="Overlay-Close">
      <img src="/images/icons/icn-close.svg" alt="">
    </div>
    <div class="Overlay-Content">
      <b></b>
      <span></span>
      <p>
        Sasha Israni is the Promoter of the Royal Power Group of Companies, currently operating as Managing Director of
        the Group. <br><br>
        A graduate in International Business Studies from London's European Business School, Sasha returned to Nigeria
        in 2001 after spending 3 years working at Credit Suisse in London. He spent his first 3 years in Nigeria
        learning about the Nigerian market, familiarizing himself with business processes, undertaking projects as an
        entrepreneur and gaining a comprehensive understanding of business in Nigeria in particular the power sector.
        <br><br>
        In 2004, he formed Royal Power and Energy Ltd - a power company initially focused on providing power solutions
        to the service sector in Nigeria. During his tenure with RPE, Sasha has guided the company for further growth.
        Under his leadership, RPE has grown to be the one of the leading power solutions providers with a number of
        successfully completed projects across Nigeria and other parts of West Africa. RPE has also expanded into
        various other areas of the Power sector in West Africa. <br><br>
        Royal Power Integrated and General Services (RPIS), RPE's subsidiary, was founded in 2012 with a focus to build,
        own and operate gas power plants in Nigeria.
      </p>
    </div>
  </div>
</div>

<%- include partials/preloader.ejs %>

<div class="page">
  <%- include partials/header.ejs %>

  <section class="rs-section-map">
    <img src="/images/icons/icn-location-pin.svg" alt="">
    <h1>Rensource Distributed Energy Limited</h1>
    <p>7, Abagbon Close<br>Victoria Island, Lagos <br> Nigeria</p>
    <p>01-631 1797</p>
    <p>support@rensource.energy</p>
  </section>

  <section class="rs-section-team">
    <div class="rs-section-team-board rs-section-team-board--big">
      <h3 class="centered">Founders</h3>
      <p class="text-xs-center">The Rensource team is comprised of seasoned entrepreneurs, executives, and company
        builders passionate about electrifying Nigeria</p>

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <a target="_blank" href="https://www.linkedin.com/in/aadesina" class="rs-section-team-avatar">
              <div class="avatar" style="background-image: url('images/people/adesina1.jpg')"></div>
              <div class="info">
                <b>Ademola Adesina</b>
                <span>Founder & CEO</span>
                <div class="LinkedIn-Holder">
                  <img src="/images/linkedin.png" alt="" class="LinkedIn">
                </div>
              </div>
            </a>
          </div>

          <div class="col-xs-12 hidden-md-up"><br/ ></div>

          <div class="col-md-6 col-xs-12">
            <a target="_blank" href="https://www.linkedin.com/in/jussilaurimaa" class="rs-section-team-avatar">
              <div class="avatar" style="background-image: url('images/people/savukoski.png')"></div>
              <div class="info">
                <b>Jussi Savukoski</b>
                <span>Co-Founder & Executive Director</span>
                <div class="LinkedIn-Holder">
                  <img src="/images/linkedin.png" alt="" class="LinkedIn">
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="rs-section-team-ateam rs-section-team-board--big">
      <div class="container text-xs-center">
        <h3 class="centered">Senior Management</h3>
      </div>
      <br>
      <div class="rs-section-team-board rs-section-team-slider">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <a target="_blank" href="https://www.linkedin.com/in/anu-adasolum-46754a19/"
                 class="rs-section-team-avatar">
                <div class="avatar" style="background-image: url('images/people/anu.jpg')"></div>
                <div class="info">
                  <b>Anu Adasolum</b>
                  <span>General Manager</span>
                  <div class="LinkedIn-Holder">
                    <img src="/images/linkedin.png" alt="" class="LinkedIn">
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-12 hidden-md-up"><br/ ></div>

            <div class="col-md-6 col-xs-12">
              <a target="_blank" href="https://www.linkedin.com/in/kolawoleakinboye/"
                 class="rs-section-team-avatar">
                <div class="avatar" style="background-image: url('images/people/akinboye2.jpg')"></div>
                <div class="info">
                  <b>Kolawole Akinboye</b>
                  <span>Director, Projects</span>
                  <div class="LinkedIn-Holder">
                    <img src="/images/linkedin.png" alt="" class="LinkedIn">
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="rs-section-team-board rs-section-team-slider">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <a target="_blank" href="https://www.linkedin.com/in/bolaogidan/"
                 class="rs-section-team-avatar">
                <div class="avatar" style="background-image: url('images/people/bola.png')"></div>
                <div class="info">
                  <b>Bola Ogidan</b>
                  <span>Head of Investor Relations</span>
                  <div class="LinkedIn-Holder">
                    <img src="/images/linkedin.png" alt="" class="LinkedIn">
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-12 hidden-md-up"><br/ ></div>
            <div class="col-md-6 col-xs-12">
              <a target="_blank" href="https://www.linkedin.com/in/stevengabrielgraham"
                 class="rs-section-team-avatar">
                <div class="avatar" style="background-image: url('images/people/graham.jpg')"></div>
                <div class="info">
                  <b>Steven Graham</b>
                  <span>Chief Technology Officer</span>
                  <div class="LinkedIn-Holder">
                    <img src="/images/linkedin.png" alt="" class="LinkedIn">
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rs-section-team-board" rs-section-team-board--big>
        <h3 class="centered">Board Members</h3>

        <div class="container">
          <div class="row">
            <div class="col-sm col-xs-12">
              <div data-overlay class="rs-section-team-avatar">
                <div class="avatar" style="background-image: url('images/people/foy.jpg')"></div>
                <div class="info">
                  <b>Christopher Foy</b>
                  <div class="LinkedIn-Holder">
                    <img src="/images/plus.png" alt="" class="LinkedIn">
                  </div>
                  <p class="hidden">
                    Christopher Foy, who is Chairman of Rensource, is a non-executive director and adviser. <br><br>

                    He has extensive executive leadership experience across a wide range of companies and industrial sectors in Britain, other parts of Europe and Africa. Recently he was founding chief executive of impact investment enterprises in Africa. He continues to advise on investment, particularly in Africa. He has held a large number of chairman and board appointments in the not for profit sector - and continues, both in the arts and education. An alumnus of the University of Liverpool and Stanford GSB, he also holds an honorary Doctorate from Kingston University.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 hidden-md-up"><br/ ></div>
            <div class="col-sm col-xs-12">
              <a target="_blank" href="https://www.linkedin.com/in/christopher-aidun-65412474" class="rs-section-team-avatar">
                <div class="avatar" style="background-image: url('images/people/aidun.jpg')"></div>
                <div class="info">
                  <b>Christopher Aidun</b>
                  <div class="LinkedIn-Holder">
                    <img src="/images/linkedin.png" alt="" class="LinkedIn">
                  </div>
                </div>
              </a>
            </div>
			<div class="col-xs-12 hidden-md-up"><br/ ></div>
			<div class="col-sm col-xs-12">
              <div data-overlay class="rs-section-team-avatar">
                <div class="avatar" style="background-image: url('images/people/David-Ladipo.jpeg')"></div>
                <div class="info">
                  <b>David Ladipo</b>
                  <div class="LinkedIn-Holder">
                    <img src="/images/plus.png" alt="" class="LinkedIn">
                  </div>
                  <p class="hidden">
                    Dr. David Ladipo, Ph.D. serves as Chief Executive Officer and Group Managing Director at Azura Power West Africa Ltd. Dr. Ladipo is Investment Professional at Amaya Capital Partners. He heads up investments in the power sector in Africa. He is an Advisor at Nestor Advisors Ltd. Dr. Ladipo is a Co-Founder of Lintstock Ltd. He is a strategy consultant and public policy analyst with particular expertise in corporate governance and institutional reform. He serves as Director at Azura Power West Africa Ltd.<br><br>
                    Dr. Ladipo holds a Ph.D. in Social and Political Sciences from the University of Cambridge, an M.Phil. in International Relations from the University of Cambridge, and a B.A. in Philosophy, Politics and Economics from Oxford University.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm col-xs-12">
              <div data-overlay class="rs-section-team-avatar">
                <div class="avatar" style="background-image: url('images/people/sasha.jpg')"></div>
                <div class="info">
                  <b>Sasha Israni</b>
                  <div class="LinkedIn-Holder">
                    <img src="/images/plus.png" alt="" class="LinkedIn">
                  </div>
                  <p class="hidden">
                    Sasha Israni is an entrepreneur and investor. <br><br>
                    He is the Promoter of the Royal Power Group of Companies, currently operating as Managing Director of the Group. <br><br>
                    Sasha is a graduate in International Business Studies from London's European Business School. <br><br>He returned to Nigeria in 2001 after spending 3 years working at Credit Suisse in London. Sasha spent his first several years back in Nigeria learning about the Nigerian market, familiarizing himself with business processes, undertaking projects as an entrepreneur and gaining a comprehensive understanding of the business operating environment with a special focus on the power sector. <br><br>
                    In 2004, he formed Royal Power and Energy Ltd - a power company initially focused on providing power solutions to the service sector in Nigeria. During his tenure with RPE, Sasha has driven the company’s rapid growth to serve most tier-1 corporate clients in Nigeria. Under his leadership, RPE has grown to be the leading power solutions provider in Nigeria and West Africa.<br><br>
                    Royal Power Integrated and General Services (RPIS), RPE's subsidiary, was founded in 2012 with a focus to build, own and operate gas power plants in Nigeria.<br><br>
                    Sasha is a member of YPO.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 hidden-md-up"><br/ ></div>
            <div class="col-sm col-xs-12">
              <a target="_blank" href="http://www.cre.vc/team" class="rs-section-team-avatar">
                <div class="avatar" style="background-image: url('images/people/makumbe.png')"></div>
                <div class="info">
                  <b>Pardon Makumbe</b>
                  <div class="LinkedIn-Holder">
                    <img src="/images/plus.png" alt="" class="LinkedIn">
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-12 hidden-md-up"><br/ ></div>
            <div class="col-sm col-xs-12">
            </div>
          </div>
        </div>
      </div>

  </section>
  <%- include partials/battery.ejs %>
  <%- include partials/registration.ejs %>
  <%- include partials/footer.ejs %>
</div>

<%- include partials/scripts.ejs %>
</body>
</html>
