<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/head.ejs %>
</head>
<body class="page-homepage">
  <%- include partials/preloader.ejs %>

  <div class="page">
    <section class="rs-section-teaser rs-section-teaser--night">
      <div class="rs-section-teaser-night"></div>
      <div class="container">
          <%- include partials/header.ejs %>
          <div class="WPTitleCentre">
            <br>
              <h1 class="WPHomeMainTitle">  RENSOURCE BUILDS AND OPERATES
                  MICROUTILITIES FOR SME CLUSTERS
                  IN NIGERIA</h1>
          </div>

      </div>
    </section><!-- END.Teaser -->

    <section class="rs-section-about">
      <div class="container">
        <div class="WPfirstIntroDesc">
          <h3>Delivering Power through Microutilities</h3>
          <p  >A microutility is a type of energy services provider that builds a localized
            decentralized power grid for provision of energy and other value added services.</p>


        </div>
      </div>
      <div class="WPfullwidth">
          <img src="/images/infopic.jpg" alt="rensource description">
      </div>

    </section><!-- END.About -->


    <!--Microutility -->
    <section class="WPMicro">
        <div class="tabcontainer">
          <div>
            <h3>What it Takes to Build a Microutility</h3>
            <!--TABS BEGIN-->
            <div class="tabcontainer">
                <input id="tab-1" type="radio" name="tabs" checked="checked"/>
                <input id="tab-2" type="radio" name="tabs"/>
                <input id="tab-3" type="radio" name="tabs"/>
                <div class="row tabs">
                  <label class="tabsize" for="tab-1">POWER GENERATION</label>
                  <label class="tabsize" for="tab-2">DISTRIBUTION</label>
                  <label class="tabsize" for="tab-3">CUSTOMER SERVICE</label>



                </div>
                <div class="content">
                  <div class="tab">
                      <div class="row">
                        <div class="col-md-6">
                            <p>
                                Rensource generates energy via renewable energy
                                which is cleaner, cheaper and healthier than fossil fuel
                                generators. The technology is designed in Germany to
                                the highest standards and produced specifically for the
                                local markets. Power generation can range from a few
                                kilowatts to several megawatts as required.
                            </p>
                          </div>
                        <div class="col-md-6">
                            <img style="width:100%;height:auto;" src="/images/solarpanel.png" alt="rensource description">
                          </div>

                      </div>
                  </div>

                <div class="tab">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                Using quality assets, Rensource is able to distribute energy
                                to its teeming consumers to the highest safety standards. Prepaid
                                meters are deployed to each consumer to manage energy use. This
                                also helps for transparency on energy consumption ensuring customer
                                satisfaction.

                            </p>
                          </div>
                        <div class="col-md-6">
                            <img style="width:100%;height:auto;" src="/images/infopic.jpg" alt="rensource description">
                          </div>

                      </div>
                </div>
                  <div class="tab">
                      <div class="row">
                          <div class="col-md-6">
                              <p>
                                  Our network operating centre monitors system performance and ensures
                                  any issues are preempted and avoided. Multiple payment platforms are
                                  available for clients to make payments at their convenience.
                                  We also go the extra mile of providing internal wiring where required,
                                  correcting faulty wiring and even providing consumers with energy
                                  efficient appliances to improve the experience.

                              </p>
                            </div>
                          <div class="col-md-6">
                              <img style="width:100%;height:auto;" src="/images/infopic.jpg" alt="rensource description">
                            </div>

                        </div>
                  </div>

                </div>
              </div>

            <!--END OF TABS-->
          </div>
        </div>


      </section>
      <!--Microutility ENDS-->


    <section class="WPKpiRow">
      <h2> Our KPI's</h2>
      <div class="container">
        <div class="row WPKpiDetails">
          <div class="col-md-4">
            <p>Number of Markets</p>
            <h2><span class="count">14</span></h2>
          </div>
          <div class="col-md-4">
              <p>Liters of Diesel saved</p>
              <h2><span class="count">1200</span>L</h2>
            </div>
            <div class="col-md-4">
                <p>KWh of Energy installed</p>
                <h2><span class="count">10000</span>Kwh</h2>
              </div>

        </div>

      </div>


    </section>

    <%- include partials/footer.ejs %>
  </div>

  <%- include partials/scripts.ejs %>
</body>
</html>
