<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/head.ejs %>
</head>
<body class="page-magazine">
  <%- include partials/preloader.ejs %>

  <div class="page">
    <section class="rs-section-headline">
      <%- include partials/header.ejs %>
    </section>

    <section class="WPService">
        <div class="">
        <div class="row WPEachServ">
          <div class="col-md-6">
              <img class="WPservLeft" src="/images/infopic.jpg" alt="rensource">
          </div>
          <div class="col-md-6">
            <h3>We build Infrastructure /EPC</h3>
            <p class="WPServPRight">Our highly skilled technical team will
                design and deploy microutilities. We
                can handle deployment of various
                types, overcoming all project
                challenges and rolling out world class
                renewable energy microutility
                projects.</p>

            </div>

        </div>

        <!--TWO-->
        <div class="row WPEachServ">
            <div class="col-md-6 ServtextLeft">
              <h3>We build Infrastructure /EPC</h3>
              <p class="WPServPLeft">Our highly skilled technical team will
                  design and deploy microutilities. We
                  can handle deployment of various
                  types, overcoming all project
                  challenges and rolling out world class
                  renewable energy microutility
                  projects.</p>
  
              </div>
              <div class="col-md-6">
                  <img class="WPservRight" src="/images/infopic.jpg" alt="rensource">
              </div>
  
          </div>
          <!--THREE-->
          <div class="row WPEachServ">
              <div class="col-md-6">
                  <img class="WPservLeft" src="/images/infopic.jpg" alt="rensource">
              </div>
              <div class="col-md-6">
                <h3>We build Infrastructure /EPC</h3>
                <p class="WPServPRight">Our highly skilled technical team will
                    design and deploy microutilities. We
                    can handle deployment of various
                    types, overcoming all project
                    challenges and rolling out world class
                    renewable energy microutility
                    projects.</p>
    
                </div>
    
            </div>
    
            <!--FOUR-->
            <div class="row WPEachServ">
                <div class="col-md-6 ServtextLeft">
                  <h3>We build Infrastructure /EPC</h3>
                  <p class="WPServPLeft">Our highly skilled technical team will
                      design and deploy microutilities. We
                      can handle deployment of various
                      types, overcoming all project
                      challenges and rolling out world class
                      renewable energy microutility
                      projects.</p>
      
                  </div>
                  <div class="col-md-6">
                      <img class="WPservRight" src="/images/infopic.jpg" alt="rensource">
                  </div>
      
              </div>

          </div>
 </section>

 <section class="ServmapArea">
   <div class="container">
      <img class="" src="/images/mapwithbulb.png" alt="rensource">
   </div>
    

 </section>

 <section class="ServCallToAction">
    <div class="container">
    <h2>
      Come Work With Us
    </h2>
     <a href="#" class=""> CONTACT US</a>
    </div>
 </section>



  

    <%- include partials/footer.ejs %>
  </div>

  <%- include partials/scripts.ejs %>
</body>
</html>
