<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/head.ejs %>
</head>
<body class="page-magazine">
  <%- include partials/preloader.ejs %>

  <div class="page">
    <section class="rs-section-headline">
      <%- include partials/header.ejs %>
    </section>

    <section class="WPService">
        <div class="">
        <div class="row WPEachServ">
          <div class="col-md-6">
            <div class="wpServImg WPservLeft" style="background-image: url(/images/manpointboard.jpg)"></div>
              <!-- <img class="WPservLeft" src="/images/manpointboard.jpg" alt="rensource"> -->
          </div>
          <div class="col-md-6" style="padding:0 9%;">
            <h3>We build Infrastructure /EPC</h3>
            <p class="WPServPRight">Our highly skilled technical team will
                design and deploy microutilities. We
                can handle deployment of various
                types, overcoming all project
                challenges and rolling out world class
                renewable energy microutility
                projects.</p>

            </div>

        </div>

        <!--TWO-->
        <div class="row WPEachServ">
            <div class="col-md-6 ServtextLeft" style="padding:0 9%;">
              <h3 class="text-right">We Operate And Maintain</h3>
              <p class="WPServPLeft">In addition to project deployment,
                  Rensource can extend services to the
                  provision of operations and
                  maintenance services.
                  Our experienced staff will run the
                  project smoothly managing clients
                  and securing payments for services
                  rendered.</p>
  
              </div>
              <div class="col-md-6 mn-R-8">
                  <div class="wpServImg WPservRight" style="background-image: url(/images/laptopconfig.jpg)"></div>
                  <!-- <img class="WPservRight " src="/images/laptopconfig.jpg" alt="rensource"> -->
              </div>
  
          </div>
          <!--THREE-->
          <div class="row WPEachServ">
              <div class="col-md-6">
                  <div class="wpServImg WPservLeft" style="background-image: url(/images/mentogether.jpg)"></div>
                  <!-- <img class="WPservLeft" src="/images/mentogether.jpg" alt="rensource"> -->
              </div>
              <div class="col-md-6" style="padding:0 9%;">
                <h3>We Develop</h3>
                <p class="WPServPRight">We work with investors to take
                    projects from Idea to fruition. With a
                    vision to becoming the leading
                    microutility producer in Africa, we are
                    well equipped to scout great projects
                    and develop them to excellent wealth
                    creation opportunities for the savvy
                    investor.</p>
    
                </div>
    
            </div>
    
            <!--FOUR-->
            <div class="row WPEachServ">
                <div class="col-md-6 ServtextLeft" style="padding:0 9%;">
                  <h3 class="text-right">Value Added Services</h3>
                  <p class="WPServPLeft">By capturing valuable data on
                      merchants businesses, Rensource can
                      inform relevant service provision and
                      make available a lead-generation
                      channel for third parties. Most VAS
                      offerings from credible third-parties
                      can be run using Rensource as a
                      channel. Examples include SME loans,
                      mobile money, micro pension, health
                      insurance, etc</p>
      
                  </div>
                  <div class="col-md-6">
                  <div class="wpServImg WPservLeft" style="background-image: url(/images/phone.png);background-size:contain;height:55vh;box-shadow: none;"></div>
                      <!-- <img class="ServPhone" src="/images/phone.png" alt="rensource"> -->
                  </div>
      
              </div>

          </div>
 </section>

 <section class="ServmapArea">
   <div class="container">
      <div class="servMapImg" style="background-image:url(/images/mapwithbulb.png);"></div>
   </div>
    

 </section>

 <section class="ServCallToAction" >
    <div class="container center">
    <h2>
      Come Work With Us
    </h2>
    <a href="#" class=""> CONTACT US</a>
    
    </div>
    </div>
 </section>



  

    <%- include partials/footer.ejs %>
  </div>

  <%- include partials/scripts.ejs %>
</body>
</html>
