<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/head.ejs %>
</head>
<body class="page-static">
  <%- include partials/preloader.ejs %>

  <%- include partials/header.ejs %>

  <div class="static">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 sidebar">
          <div class="sidebar-heading">Category</div>
          <ul>
            <li><a href="#">Disclaimer</a></li>
            <li><a href="#">Imprint</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Page</a></li>
          </ul>
          <div class="spacer"></div>
          <div class="sidebar-heading">Category</div>
          <ul>
            <li><a href="#">Disclaimer</a></li>
            <li><a href="#">Imprint</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Page</a></li>
          </ul>
        </div>
        <div class="col-sm-7 offset-sm-1 content">
          <h1>Disclaimer</h1>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>

          <h2>Headline 2</h2>

          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>

          <h3>Headline 3</h3>

          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>

          <h4>Headline 4</h4>

          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>

          <h5>Headline 5</h5>

          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>

          <h6>Headline 6</h6>

          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
        </div>
      </div>
    </div>

  </div>
  <%- include partials/footer.ejs %>

  <%- include partials/scripts.ejs %>
</body>
</html>
