<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/head.ejs %>
</head>
<body class="page-membership">
  <%- include partials/preloader.ejs %>
  <div class="page">

    <section class="rs-section-interactive rs-section-interactive--night">
      <div class="rs-section-interactive-night" style="background-image: none"></div>
      <%- include partials/header.ejs %>
      <div class="rs-section-interactive-slider">
        <div>
          <img class="rs-section-interactive-image" src="images/sections/interactive/go.png" alt="">
        </div>
        <div>
          <img class="rs-section-interactive-image" src="images/sections/interactive/eco.png" alt="">
        </div>
        <div>
          <img class="rs-section-interactive-image" src="images/sections/interactive/duplo.png" alt="">
        </div>
        <div>
          <img class="rs-section-interactive-image" src="images/sections/interactive/pro.png" alt="">
        </div>
      </div>
      <div class="rs-section-interactive-bg">
        <p class="rs-section-interactive-infoline">
          ***Illustration only. The exact appliances supported will depend on an energy audit of your home or office.
        </p>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="rs-section-interactive-item-wrapper isDark">
                <div class="row">
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <h5>
                      Use our visualisation tool to see what your plan could power.
                    </h5>
                  </div>
                  <div class="rs-section-interactive-border col-lg-10 col-md-12 col-sm-12 col-xs-12">
                    <div class="row row-start">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="rs-section-interactive-item">
                          <div>
                            <h5>
                              Go
                            </h5>
                            <button data-index="0" class="button button--outlineborder">CHOOSE</button>
                          </div>
                          <p>
                            Our introductory tier, Go, provides enough energy for basic appliances like lights, fans, a stereo, a television, and even energy efficient refrigeration.
                          </p>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="rs-section-interactive-item">
                          <div>
                            <h5>
                              Eco
                            </h5>
                            <button data-index="1" class="button button--outlineborder">CHOOSE</button>
                          </div>
                          <p>
                            Eco builds on the Go tier by providing support for additional appliances such as televisions, a microwave, larger refrigeration capacity and, in some cases, a freezer.
                          </p>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="rs-section-interactive-item">
                          <div>
                            <h5>
                              Duplo
                            </h5>
                            <button data-index="2" class="button button--outlineborder">CHOOSE</button>
                          </div>
                          <p>
                            The Duplo subscription tier supports a similar set of appliances as the Eco but provides for greater autonomy and longer evening use.
                          </p>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="rs-section-interactive-item">
                          <div>
                            <h5>
                              Pro
                            </h5>
                            <button data-index="3" class="button button--outlineborder">CHOOSE</button>
                          </div>
                          <p>
                            Our most advanced subscription tier, Pro provides even more hours of autonomy than the Duplo but also supports the use of power-hungry appliance such as water pumps, water heaters, washers, and dryers.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="rs-section-features rs-section-features--multiline">
      <div class="container">
        <!--<h3 class="centered">Privileges enjoyed by members in <b>each tier</b>:</h3>-->
		<h3 class="centered">The benefits of subscription include:</h3>
        <div class="row row-start">
          <div class="col-sm-3">
            <div class="icon">
              <img src="/images/icons/icn-installation.svg" alt="">
            </div>
            <h5>Installation and Commissioning</h5>
            <p>We take care of delivery, installation, and commissioning of the system associated with your subscription tier</p>
          </div>
          <div class="col-sm-3">
            <div class="icon">
              <img src="/images/icons/icn-moving.svg" alt="">
            </div>
            <h5>Moving Service</h5>
            <p>Worried you might have to switch homes during your subscription period? We’ll happily decommission the powerbox and re-install it at your new location at no additional cost.</p>
          </div>
          <div class="col-sm-3">
            <div class="icon">
              <img src="/images/icons/icn-care.svg" alt="">
            </div>
            <h5>Exclusive community benefits</h5>
            <p>Subscribers get discounts from select service providers as well as invitations to community events.</p>
          </div>

          <div class="col-sm-3">
            <div class="icon">
              <img src="/images/icons/icn-cancel.svg" alt="">
            </div>
            <h5>Introductory Trial</h5>
            <p>Want to see what energy independence is like. Free cancellation up until the first thirty days of your subscription.</p>
          </div>
        </div>
      </div>
    </section><!-- END.Features -->

    <section class="rs-section-print">
      <div class="container">
        <div class="row">
          <div class="small-print col-sm-6">
            <h6>The small print</h6>

            <div class="p">
              <h5>How long is the subscription period?</h5>
              <p>Standard subscription periods are for 24 months with a 1 month trial period.</p>
            </div>

            <!--<div class="p">
              <h5>What if I fall in love with the system and want to buy it?</h5>
              <p>Your contract allows you to buy your Rensource system at a pre-determined price. You won't get the automatic upgrades any more, but would no longer be committed to monthly payments.</p>
            </div>
            -->
            <div class="p">
              <h5>Is the monthly price fixed, no matter how much power I need or use?</h5>
              <p>Yes. You'll get the power described in your plan's Power Promise at the same fixed price every month.</p>
            </div>

            <div class="p">
              <h5>Do I need rooftop access for a subscription?</h5>
              <p>Yes, we use solar panels to generate electricity that works alongside PHCN to provide you energy. Our panels need to be mounted on your roof with direct access to sunlight.</p>
            </div>
          </div>

          <div class="col-sm-6">
            <img data-gif-src="/images/sections/about/illustration.gif" alt="">
          </div>
        </div>
      </div>
    </section><!-- END.Print -->

    <section id="contact" class="rs-section-contact">
      <div class="container">
        <h3 class="centered">Interested?</h3>

        <div class="row row-start">
          <div class="col-sm-6">
            <p><b>You might be part of a group that can sponsor your subscription:</b></p>
            <p>Your company may be a Rensource client and offer a subscription to you as an employment benefit.</p>

            <button disabled class="button button-block button-green">CHECK IF YOUR COMPANY OFFERS RENSOURCE</button>
            <button disabled class="button button-block button-outline button-inverse">REQUEST RENSOURCE FOR YOUR COMPANY</button>
          </div>

          <div class="col-sm-6">
            <p><b>&nbsp;</b></p>
            <p>Your cooperative may be a Rensource client and offer a subscription as a group benefit.</p>

            <button disabled class="button button-block button-inactive button-green">CHECK IF YOUR CO-OPERATIVE OFFERS RENSOURCE</button>
            <button disabled class="button button-block button-outline button-inverse">REQUEST RENSOURCE FOR YOUR CO-OPERATIVE</button>
          </div>
        </div>
      </div>
    </section><!-- END.Contact -->

    <%- include partials/registration.ejs %>
    <%- include partials/footer.ejs %>
  </div>

  <%- include partials/scripts.ejs %>
</body>
</html>
