<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/head.ejs %>
</head>
<body class="page-membership">
  <div class="Overlay">
    <div class="Overlay-BG"></div>
    <div class="Overlay-Avatar" style="background-image: url(https://pbs.twimg.com/profile_images/770916199895068672/1iT-MF9F.jpg)"></div>
    <div class="Overlay-Inner">
      <div class="Overlay-Close">
        <img src="/images/icons/icn-close.svg" alt="">
      </div>
      <div class="Overlay-Content">
        <b></b>
        <span></span>
        <p>
          Sasha Israni is the Promoter of the Royal Power Group of Companies, currently operating as Managing Director of the Group. <br><br>
          A graduate in International Business Studies from London's European Business School, Sasha returned to Nigeria in 2001 after spending 3 years working at Credit Suisse in London. He spent his first 3 years in Nigeria learning about the Nigerian market, familiarizing himself with business processes, undertaking projects as an entrepreneur and gaining a comprehensive understanding of business in Nigeria in particular the power sector. <br><br>
          In 2004, he formed Royal Power and Energy Ltd - a power company initially focused on providing power solutions to the service sector in Nigeria. During his tenure with RPE, Sasha has guided the company for further growth. Under his leadership, RPE has grown to be the one of the leading power solutions providers with a number of successfully completed projects across Nigeria and other parts of West Africa. RPE has also expanded into various other areas of the Power sector in West Africa. <br><br>
          Royal Power Integrated and General Services (RPIS), RPE's subsidiary, was founded in 2012 with a focus to build, own and operate gas power plants in Nigeria.
        </p>
      </div>
    </div>
  </div>

  <%- include partials/preloader.ejs %>

  <div class="page">
    <%- include partials/header.ejs %>

    <section class="rs-section-map is-full">
      <img src="/images/icons/icn-location-pin.svg" alt="">
      <h1>Rensource Distributed Energy Limited</h1>
      <p>7, Abagbon Close<br>Victoria Island, Lagos <br> Nigeria</p>
	    <p>01-631 1797 (tbd with Faika)</p>
	    <p><a href="mailto:support@rensource.energy" style="color: black;">support@rensource.energy</a></p>
    </section>

    <%- include partials/footer.ejs %>
  </div>

  <%- include partials/scripts.ejs %>
</body>
</html>
