<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/head.ejs %>
</head>
<body class="page-technology">
  <%- include partials/preloader.ejs %>

  <div class="page">
    <section class="rs-section-headline">
      <%- include partials/header.ejs %>

      <div class="container text-xs-center">
        <h3 class="centered" data-0="opacity: 1;" data-300="opacity: 0">Technology</h3>
        <p data-0="opacity: 1;" data-300="opacity: 0">Built with longevity, functionality, and the aspirational Nigerian consumer in mind, Rensource solutions combine the latest innovations in solar optimized battery technology, power electronics, with a delightful user interface. This is all wrapped within a design aesthetic that every user can be proud of.</p>
      </div>
    </section><!-- END.Teaser -->

    <img src="/images/pages/solar-panels-new.png" data-retina alt="">

    <section class="rs-section-systems">
      <div class="container">
        <h3 class="centered">Solar Home Energy Systems</h3>
        <p class="text-xs-justify">Our systems combine everything you need to power your home or office into a beautiful enclosure that can hang on your wall. You enjoy UPS like power using the combination of a hybrid inverter, charge controller and scalable battery capacity. Your system can charge itself from solar panels or PHCN and switches seamlessly between them without any input from. You can even prioritize which appliances to power first.</p>
        <br />

        <div class="illustration-wrapper">
          <img src="/images/sections/systems/illustration-1.png" data-bottom="opacity: 0" data-400-top="opacity: 1;" data-retina class="illustration" alt="">
          <img src="/images/sections/systems/illustration-2.png" data-bottom="opacity: 0" data-400-top="opacity: 1;" data-retina class="illustration" alt="">
          <img src="/images/sections/systems/illustration-3.png" data-bottom="opacity: 0" data-400-top="opacity: 1;" data-retina class="illustration" alt="">
        </div>
      </div>
    </section>

    <img src="/images/pages/battery.png" data-retina alt="">

    <section class="rs-section-features">
      <div class="container">
        <h3 class="centered">Design & Functionality</h3>
        <div class="row">
          <div class="col-sm col-xs-12">
            <div class="icon">
              <img src="/images/icons/icn-powerbox.svg" alt="">
            </div>
            <h5>Well designed Box</h5>
            <p>Sleek low profile that can be wall or floor mounted includes batteries and power electronics all in one small enclosure</p>
          </div>
          <div class="col-sm col-xs-12">
            <div class="icon">
              <img src="/images/icons/icn-lithium-battery.svg" alt="">
            </div>
            <h5>Lithium based Battery</h5>
            <p>Long lasting storage solutions suited for frequent and quick charge, discharge cycles</p>
          </div>
          <div class="col-sm col-xs-12">
            <div class="icon">
              <img src="/images/icons/icn-solar-panels.svg" alt="">
            </div>
            <h5>Integrated DC outputs</h5>
            <p>Take advantage of efficient DC appliances with integrated 12v and 24v DC outputs</p>
          </div>
        </div>
      </div>
    </section>

    <section class="rs-section-connected">
      <div class="container">
        <div class="row">
          <div class="col-sm-7">
            <h3>Intelligent. <b>Connected.</b></h3>
            <p>Our systems are “connected” in a manner to generate real-time data and insights, which allow us to continuously improve our customer’s experience. This same connectivity also provides the user with unprecedented awareness of how and when they use energy, from our systems or PHCN.</p>

            <div class="row">
              <div class="col-sm col-xs-12">
                <div class="container">
                  <div class="row flex-start">
                    <div class="col-sm-min">
                      <img src="/images/icons/icn-connect.svg" alt="">
                    </div>
                    <div class="col-xs">
                      <h5>Data Rich</h5>
                      <p>Stream of data from power electronics, batteries, and appliance usage provides insight to customers and our technical support team in order to continuously deliver an optimal user experience.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm col-xs-12">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-min">
                      <img src="/images/icons/icn-another-graph.svg" alt="">
                    </div>
                    <div class="col-xs">
                      <h5>Monitor usage</h5>
                      <p>Compare how much power you’re generating from solar vs PHCN. Option to see which appliances are the most power hungry.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5 flex-sm-first" style="align-self: stretch;">
            <img src="/images/sections/connected/glow.png" data-retina class="glow" alt="" />
            <div class="iphone-slick">
              <div><img src="/images/sections/connected/iphone.png" data-retina class="iphone" alt="" /></div>
              <div><img src="/images/sections/connected/iphone-2.png" data-retina class="iphone" alt="" /></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="rs-section-efficiency">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-8 offset-xs-2 offset-md-0">
            <img src="/images/sections/efficiency/illustration.png" data-retina alt="">
          </div>
          <div class="col-xs-12 hidden-sm-up">
            <br />
          </div>
          <div class="col-sm-6 col-xs-12 flex-sm-first">
            <h3>Energy Efficiency</h3>
            <p>Solar-hybrid systems generate and store a finite amount of energy. To make the most of that energy, Rensource makes it easy to employ effective energy efficiency techniques. This includes intelligent load management - scheduling the use of certain appliances to align them with when you’re getting the cheapest energy from the sun.</p>
            <p>Energy efficiency is engrained in the DNA of the Rensource service offering.</p>
          </div>
        </div>
      </div>
    </section>

    <%- include partials/stories.ejs %>
    <%- include partials/registration.ejs %>
    <%- include partials/footer.ejs %>
  </div>

  <%- include partials/scripts.ejs %>
</body>
</html>
